.App {
  text-align: center;
  background-color: #121212;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: Sora;
  src: url(./fonts/Sora-SemiBold.ttf);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  top: '35%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  margin-right: '-50%';
  width: '60%';
  transform: 'translate(-40%, -10%)';
}

.box {
  cursor: pointer;
  border: #171717 20px solid;
}

.box:hover {
  border-color: #272727;
}

.text {
  color: #acacac;
  font-family: 'Sora'
}

.text:hover {
  color: #fff
}

.albumList {
  font-family: 'Sora';
  color: #acacac;
  cursor: pointer;
}

.albumList:hover {
  background-color: #181818;
}

.logout {
  cursor: pointer;
  color: #acacac;
}

.logout:hover {
  color: #fff;
}

.button {
  color: #acacac;
  cursor: pointer;
}

.button:hover {
  color: #fff
}